.dropdown-enter-active, .dropdown-leave-active {
    -webkit-transition: .2s cubic-bezier(.165, .84, .44, 1);
    transition: .2s cubic-bezier(.165, .84, .44, 1)
}

.dropdown-enter, .dropdown-leave-to {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px)
}

.popup {
    z-index: 1300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.popup, .popup:before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.popup:before {
    content: "";
    margin: -100px;
    display: block;
    background: rgba(0, 0, 0, .5);
    z-index: 1200;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease
}

.popup_default {
    padding: 2rem;
    overflow-y: auto
}

@media (max-width: 560px) {
    .popup_default {
        padding: 12px
    }
}

.popup_default .popup__content {
    border-radius: 3px;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, .4);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, .4)
}

.popup_default .popup__body {
    padding: 2rem
}

.popup_default .popup__inner {
    margin-top: auto;
    margin-bottom: auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 800px
}

.popup_bottom-sheet {
    overflow: hidden;
    top: auto;
    display: table;
    width: 100%;
    height: 100%
}

.popup_bottom-sheet.is-hidden .popup__inner {
    overflow: hidden
}

.popup_bottom-sheet .popup__inner {
    width: 100%;
    padding: 44px 0 0;
    max-width: 100%;
    min-height: 100%;
    overflow-y: auto;
    display: table-cell;
    vertical-align: bottom
}

.popup_bottom-sheet .popup__content {
    margin-top: auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 10px 10px 0 0
}

.popup_full .popup__content, .popup_full .popup__inner {
    width: 100%;
    height: auto
}

.popup_full .popup__content {
    overflow-y: auto;
    height: 100vh
}

.popup_side .popup__content {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 440px;
    overflow-y: auto;
    overflow-x: hidden;
    will-change: transform
}

.popup_transparent-backdrop:before {
    background: 0 0
}

.popup[data-size=lg] .popup__inner {
    max-width: 900px
}

.popup[data-size=md] .popup__inner {
    max-width: 560px
}

.popup[data-size=sm] .popup__inner {
    max-width: 500px
}

.popup[data-size=xs] .popup__inner {
    max-width: 400px
}

.popup[data-size=mini] .popup__inner {
    max-width: 360px
}

.popup__content {
    position: relative;
    background: #fff;
    background: var(--foreground);
    z-index: 1400;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    width: 100%;
    overflow: hidden
}

.popup__close {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    opacity: .7;
    z-index: 10;
    cursor: pointer
}

.popup__close:hover {
    opacity: 1
}

.popup__close-icon {
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 12px;
    margin-left: 12px;
    stroke: currentColor;
    stroke-width: 1;
    pointer-events: none
}

.popup__message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left
}

.popup__message-icon {
    display: block;
    width: 70px;
    height: 70px;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.popup__message-text {
    padding-left: 1.25rem;
    line-height: 1.5
}

.popup-transition-enter.popup_default .popup__content, .popup-transition-leave-to.popup_default .popup__content {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0
}

.popup-transition-enter.popup_side .popup__content, .popup-transition-leave-to.popup_side .popup__content {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}

.popup-transition-enter.popup_bottom-sheet, .popup-transition-leave-to.popup_bottom-sheet {
    display: table;
    width: 100%;
    height: 100%
}

.popup-transition-enter.popup_bottom-sheet .popup__inner, .popup-transition-leave-to.popup_bottom-sheet .popup__inner {
    vertical-align: bottom;
    display: table-cell
}

.popup-transition-enter.popup_bottom-sheet .popup__content, .popup-transition-leave-to.popup_bottom-sheet .popup__content {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
}

.popup-transition-enter.popup_full .popup__content, .popup-transition-enter:before, .popup-transition-leave-to.popup_full .popup__content, .popup-transition-leave-to:before {
    opacity: 0
}

.poll {
    background: rgba(0, 0, 0, .03);
    padding: 24px 40px;
    border-radius: 6px
}

.poll__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px
}

[data-poll] {
    min-height: 30px
}

[data-mode=dark] .poll {
    background: hsla(0, 0%, 100%, .03)
}

.poll-item, .poll-result-item {
    padding: 7px 0
}

.poll-result-item__info {
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.poll-result-item__info .fa {
    font-size: 12px
}